@page
@model ConfigGladysModel

<div class="container-wrapper">
    <form class="form-horizontal" method="post">
        <textarea name='ConfigJson' class="config-editor" asp-for="ConfigJson"></textarea>
        <input type="submit" />
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
    </script>
}